<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <div>
        <form action="/signup" method="post">
            <label >Name
                <input type="text" name="userName" id="name">
            </label>
            <br>
            <label >Email
                <input type="text" name="email" id="email">
            </label>
            <br>
            <label >password
                <input type="password" name="password" id="password">
            </label>
            <br>
            <button type="submit" id="addBtn">Register</button>
        </form>
        <script src="index.js"></script>
    </div>
   
</body>
</html>