<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	
<link rel="stylesheet" href="../css/loginPage.css">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form action="http://localhost:3000/signup" method="post">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" id="name">
					<input type="email" name="email" placeholder="Email" required="" id="email">
					<input type="password" name="pswd" placeholder="Password" required="" id="password">
					<button id="addBtn" type="submit">Sign up</button>
				</form>
			</div>

			
	</div>
    
</body>
</html>